body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blue{
    background-color: blue;
    padding: 20px;
}

.yellow{
    background-color: yellow;
    padding: 20px;
    margin: 10px;
}

.amarelo{
    background-color: yellow;
    padding-right: 80px;
}

.flex{
    display: flex;
}

.baixo{
    background-color: yellow;
    padding-bottom: 80px;
}

.tres {
background-color: yellow;
    padding-bottom: 70px;

}

.linhab{
justify-content: flex-end;

}
